* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 70px 0;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
}

.table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}

.table tr {
    color: gray;
    border-bottom: 1px solid #ddd;
}

td {
    padding-top: 15px;
    padding-bottom: 15px;
}


.table th {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: left;
    background-color: #0f6cbc;
    color: white;
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}


.table_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    color: grey;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentpage {
    padding: 0 15px;
}

.nextpages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.nextpages i {
    cursor: pointer;
    padding: 0 6px;
}

.tableno {
    margin: 0 10px;
    padding: 0 5px;
    cursor: pointer;
    width: 80px;
    height: 30px;
    color: gray;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px;
}

input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    margin: 0 4px;
    box-shadow: 0px 2px;
    color: gray;

}